<!DOCTYPE html>
<html>

<head>
	{% include 'partials/head.html' %}
</head>

<body>
	<main>
		<!-- header -->
		{% include 'partials/headerPublic.html' %}

		<!-- main -->
		<div class="row" >
			<div class="col-3"></div>

			<div class="col-6 make-column">
				<div>
					This prototype was created by Dee Reddy. The goal was to create an app that emulates an image sharing site -- e.g. Flickr, Imgur, etc. The back-end runs on Flask -- a Python web-framework, and files and information are stored in a PostgreSQL database. Image uploads are handled by the app itself (as opposed to merely pointing to a link).
				</div>
				
				<div style="margin-top: 20px;">
					Please <a href='https://github.com/Deesus'><span style="color:royalblue">check out my GitHub</span></a>.
				</div>
			</div> <!-- /.col-6 -->

			<div class="col-3"></div>
		</div> <!-- /.row -->
	</main>

	<!-- footer -->
	{% include 'partials/footer.html' %}
</body>

</html>