<!DOCTYPE html>
<html>

<head>
	{% include 'partials/head.html' %}
</head>

<body>
	<!-- header -->
	{% include 'partials/headerLogedIn.html' %}


	<!-- container for HTML form - entire form is 7 columns wide -->
	<div class="row" >
		<div class="pane center-block col-md-7">
			<form action="{{ url_for('delete_image', album_id=album.id, image_id=item.id) }}" method='POST'>
				<!-- anti-forgery -->
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

				<div class="row" style="margin-bottom:20px;">
					Are you sure you want to delete <strong>{{item.name}}</strong> from <strong>{{album.name}}</strong>?
				</div>
				<div class="row">
					<div class="col-xs-2">
						<input type='submit' value='delete' class="dee-button btn-yellow">
					</div>
					<div class="col-xs-2">
						<a href="{{ url_for('show_images', album_id=album.id) }}" class="dee-button">cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>