<!DOCTYPE html>
<html>

<head>
	{% include 'partials/head.html' %}
</head>

<body>
	<!-- header -->
	{% include 'partials/headerLogedIn.html' %}

	<!-- form input -->
	<div class = 'pane'>
		<div class="pane center-block col-md-7">
			<form action="{{ url_for('delete_album', album_id=album.id) }}" method='POST'>
				<!-- anti-forgery -->
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
				<div class="row">Are you sure you want to delete {{album.name}}?</div><br/><br/>

				<!-- submit/cancel buttons -->
				<div class="row">
					<div class="col-xs-2">
						<input type='submit' value='delete' class="dee-button btn-yellow">
					</div>
					<div class="col-xs-2">
						<a href="{{ url_for('show_albums') }}" class="dee-button">cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
