<!DOCTYPE html>
<html>

<head>
	{% include 'partials/head.html' %}
</head>

<body>
	<!-- header -->
	{% include 'partials/headerLogedIn.html' %}

	<!-- main -->
	<div class="row" >
		<div class="col-3"></div>

		<div class="col-6">
			<form action="{{ url_for('delete_album', album_id=album.id) }}" method='POST'>
				<!-- anti-forgery -->
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

				<div>
					Are you sure you want to delete {{album.name}}?
				</div>

				<!-- submit/cancel buttons -->
				<div class='reset' style="width: 100%"> 
					<input type='submit' value='delete' class="dee-button">
					<a href="{{ url_for('show_albums') }}" class="dee-button btn-blue">cancel</a>
				</div>

			</form>
		</div> <!-- /.col-6 -->

		<div class="col-3"></div>
	</div> <!-- /.row -->
</body>

</html>
