<!DOCTYPE html>
<html>

<head>
	{% include 'partials/head.html' %}
</head>

<body>
	<!-- header -->
	{% include 'partials/headerLogedIn.html' %}

	<div class='reset'>
		
		<form action="{{ url_for('edit_image', album_id=album_id, image_id=item.id) }}" method='POST' enctype='multipart/form-data'>

				<!-- anti-forgery -->
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

				<!-- HTML form fields -->

				<!-- edit name textbox -->
				<div> 
					Edit Name:
				</div>
				<div> 
					<div>
						<input type='text' size='30' name='itemName' value="{{item.name}}">
					</div>
				</div>

				<!-- edit description -->
				<div>
					Edit Description:
				</div>

				<div>
					<div>
						<textarea name='itemText' rows="3">{{item.description}}</textarea>
					</div>
				</div>

				<!-- submit/cancel buttons -->
				<div>
					<div><input type='submit' value='Submit' class="dee-button btn-yellow"></div>
					<div><a href="{{ url_for('show_images', album_id=album_id) }}" class="dee-button">cancel</a></div>
				</div>
		</form>
	</div>
</body>

</html>