<!DOCTYPE html>
<html>

<head>
	{% include 'partials/head.html' %}
</head>
</head>

<body>
	<!-- header -->
	{% include 'partials/headerLogedIn.html' %}

	<!-- main -->
	<div class="row" >
		<div class="pane center-block col-md-7">
			<div class="row">
				<p>Name:</p>
			</div>

			<!-- HTML form fields -->
			<form action="{{ url_for('new_album') }}" method='POST'>
				<!-- anti-forgery -->
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

				<div class="row">
					<div class="col-xs-4" style="padding: 2px;">
						<input type='text' name='name' placeholder='Album Name' required>
					</div>
				</div>
				
				<!-- submit/cancel buttons -->
				<div class="row">
					<div class="col-xs-2"><input type='submit' value='Submit' class="dee-button btn-yellow"></div>
					<div class="col-xs-2"><input type='submit' value='Cancel' class="dee-button" formnovalidate></div>
				</div>

			</form>
		</div>
	</div>
</body>

</html>