/**************
 Resets
 **************/

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, sans-serif;
}

/**************
 Grid System
 **************/

.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;

    /* reset flex */
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;

    /* short for flex-direction flex-wrap */
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

[class ^= 'col-'] {
    /* reset flex -- don't readjust width of columns */
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;

    /* display as flex */
    display: flex;
}

.col-1 {
    -ms-flex-preferred-size: 8.333%;        /* `-ms-flex-preferred-size` used for IE10 support */
    -webkit-flex-basis: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
}

.col-2 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
}

.col-3 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
}

.col-5 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
}

.col-6 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
}

.col-8 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
}

.col-9 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
}

.col-11 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
}

.col-12 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

/*******************
 Attributes
 *******************/
/* horizontally align items inside a container: */
.h-center {
    display: flex;
    justify-content: center;
}

/* vertically align items inside a container: */
.v-center {
    display: flex;
    align-items: center;
}

/* container makes any/all child items equal in width
   (but content inside items can overflow if too long) */
.equal-width-divs > * {
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

/* container spaces all child content equally
   (but div widths will be different) */
.equally-spaced-content {
    justify-content: space-between;
}

/*  in certain cases, when we want to equally space items inside a column,
    `equally-spaced-content` and `equal-width-divs` won't work -- this resets the display.*/
.reset {
	display: flex;
	width: 100%;
}

/* child items are aligned in a column */
.make-column {
    width: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
}

/* child items are aligned in a row */
.make-row {
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
}

.align-bottom {
    align-self: flex-end;
}

/******************
* 		General
*******************/

h1 {
	font-weight: normal;
}

p {
	font-size: 1.1em;
}

a {
	text-decoration: none;
	color: #343c3f;
}

a:hover {
	color: black;
}

/******************
* 		Forms
*******************/
input {
	width: 200%;
}

textarea {
	resize: none;

	width: 200%;
	box-sizing: border-box;         /* Opera/IE 8+ */
	-moz-box-sizing: border-box;    /* Firefox */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
}

/******************
* 	  Image Tile
*******************/
.image-tile {
	max-height: 300px;
	min-height: 300px;
	margin-bottom: 20px;
	padding-top: 20px;
	background-color: white;
	transition: all 0.8s ease;
}
.image-tile:hover {
	background-color: #c2ced8;
	transition: all 0.8s ease;
}

/******************
*    Album Block
*******************/
.album-block {
	display:block;
	width:50%;
	padding: 20px;
	background-color: white;
	transition: all 0.8s ease;
	border-radius: 15px;
	font-size: 1.1em;
}

.album-block:hover {
	background-color: #c2ced8;
	transition: all 0.8s ease;
}

/******************
* 		Buttons
*******************/
.dee-button {
	/* sets to block */
	display:block;				
	width:100%;

	/* text: white, no hover decoration */
	color: white;
	text-decoration: none;

	background-color: #d9534f;
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:0.9em;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px;
}
.dee-button:hover {
	background-color: #ff5b45;
	color: white;
}

.btn-blue{
	background-color: royalblue;
	color: white;
}
.btn-blue:hover {
	background-color: #468ef0;
	color: white;
}

/******************
* 		Login
*******************/
#signinButton {
	cursor: pointer;
	margin: 10px;
	padding: 4px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	width: 22%;
	background-color: white;
}

#signinButton img {
	padding: 0px;
	vertical-align: bottom;
}

.login-text {
	margin-left: 50px;
	padding: 0px;
	font-size: 1.25em;
}

.login-block {
border-radius: 3px;
color: white;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
height: 50px;
text-align: center;
display: block;
cursor: pointer;
position: relative;
width: 95%;
}

.login-icon-box {
float: left;
margin-right: 10px;
font-size: 28px;
display: block;
width: 40px;
line-height: 1.2em;
}

/******************
* 		Misc.
*******************/
.fa-camera {
	font-size: 550%;
}

.fa-plus {
	font-size: 16px;
}

.fa-trash-o {
	font-size: 18px;
	margin-left: 20px;
}

.fa-pencil {
	font-size: 18px;
	margin-right: 20px;
}

/******************
* 		More stuff
*******************/
@font-face{
	font-family: MANIFESTO;
	src: url('MANIFESTO.ttf');
}

/* sections */

header {
	width: 100%;
	height: 60px;
	background-color: white;
	border-bottom: 1px solid gray;

	font-family: proxima-nova,"Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
}

main {
	min-height: 80vh;
}

/* footer */

footer {
	height: 20vh;
	background: url('footer-bg.jpg') repeat;
	border-top: 2px solid black;

	font-size: 90%;
	color: white;
}

footer > .row {
	height: 19vh;
	padding-top: 20px;
}

a > .fa-github-square, a > .fa-linkedin-square, a > .fa-envelope-o {
	color: lightgray;
	font-size: 200%;
	transition: 0.6s ease;
}

a:hover > .fa-github-square {
	color: #80169f;
	transition: 0.6s ease;
}

a:hover > .fa-linkedin-square {
	color: #0066cc;
	transition: 0.6s ease;
}

a:hover > .fa-envelope-o {
	color: #a82f29;
	transition: 0.6s ease;
}

/* navigation */

nav {
	height: 59px;
}

.nav-link {
	color: #979797;
	text-decoration: none;
	transition: 0.5s ease;
}

.nav-link:hover {
	color: white;
	background-color: #92bbff;
	transition: 0.5s ease;
}

.logo-text {
	font-family: MANIFESTO;
	font-size: 200%;
}

form > div {
	margin-top: 10px;
}